
<div class="container">
  <div class="row">
      <table class="table">
          <thead class="thead-inverse">
          <tr>
              <th class="text-center">Task ID</th>
              <th class="text-center">Status</th>
              <th class="text-center">Submitted time</th>
              <th class="text-center">Completed at </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let task of _tasksArray">
              <td class="text-center" style="width: 15px;">{{task.task | slice:0:8 }}</td>
              <td class="text-center" style="width: 15px;">{{task.status}}</td>
              <td class="text-center" style="width: 200px;">{{task.timestamps.submitted | date: 'medium'}}</td>
              <td class="text-center">{{task.timestamps.completed | date: 'medium'}}</td>
          </tr>
          </tbody>
      </table>
  </div>
</div>